@import './_variables.scss';

.container {
  padding: 8rem 1rem;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $bg-black;
}

.createPostHeaderBox {
  width: 90%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: center;
}
  
.createPostHeaderText {
  text-align: center;
}
  
@media screen and (min-width: 48em) {
    
  .createPostHeaderBox {
    justify-content: space-between;
    flex-direction: row;
  }
  
  .createPostHeaderText {
    text-align: start;
  }
  
}
  
@media screen and (min-width: 62em) {
  
  .createPostHeaderBox {
    width: 70%;
  }
  
}